# Default ignored files
.idea/
Library/
Library/APIUpdater/
Library/AnnotationManager
Library/ArtifactDB-lock
Library/Artifacts/
Library/AssetImportState
Library/BuildPlayer.prefs
Library/BuildSettings.asset
Library/Collab/CollabSnapshot_16f24589-7040-4240-ba5e-c22cd47876c8.txt
Library/Collab/Merge/
Library/CurrentLayout-default.dwlt
Library/EditorOnlyScriptingSettings.json
Library/EditorSnapSettings.asset
Library/EditorUserBuildSettings.asset
Library/EditorUserSettings.asset
Library/LastSceneManagerSetup.txt
Library/LibraryFormatVersion.txt
Library/MonoManager.asset
Library/PackageCache/
Library/ScriptAssemblies/
Library/ScriptMapper
Library/ShaderCache.db
Library/ShaderCache/0/
Library/ShaderCache/1/
Library/ShaderCache/2/
Library/ShaderCache/3/
Library/ShaderCache/4/
Library/ShaderCache/5/
Library/ShaderCache/6/
Library/ShaderCache/7/
Library/ShaderCache/8/
Library/ShaderCache/9/
Library/ShaderCache/a/
Library/ShaderCache/b/
Library/ShaderCache/c/
Library/ShaderCache/d/
Library/ShaderCache/e/
Library/ShaderCache/f/
Library/SourceAssetDB-lock
Library/SpriteAtlasDatabase.asset
Library/TempArtifacts/
Library/expandedItems
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/shadercompiler-UnityShaderCompiler.exe4.log
Library/shadercompiler-UnityShaderCompiler.exe5.log
Library/shadercompiler-UnityShaderCompiler.exe6.log
Library/shadercompiler-UnityShaderCompiler.exe7.log
